$icon-font-path: '../fonts/';
// bower:scss
// endbower

/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#map {
  height: 900px;
  width: 100%;
}

#side-bar {
  width: 30%;
  min-width: 200px;
  height: auto;
  z-index: 1;
  position: absolute;
  background: white;
  padding: 20px;
  border-right: 2px solid black;
}

.section {
  margin-left: 30px;
  margin-right: 30px;
}

.side-bar-input {
  width: 90%;
}

#clear-address {
  display: none;
}

#printout-button {
  width: 100%;
}