$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

#map {
  height: 900px;
  width: 100%;
}
